/**
* Grid Layout
*/

:root {
	--aspect: 68.63%;
}

.column {
    @apply col-span-8 l:col-span-4;
    overflow: hidden;

	&:nth-child(12n+1),
	&:nth-child(12n+6),
	&:nth-child(12n+7),
	&:nth-child(12n+12) {
        @apply col-span-16 l:col-span-8;

        .column-title {
            @apply  s:text-24 l:text-32;
        }

        .column-link-text {
            @apply block;
        }
	}

	&:nth-child(6n) {
		margin-top: calc(calc(var(--aspect) * -1) * 6/12 - var(--gap) / 3);
	}

    &-inner {
        padding-top: var(--aspect);
    }
}