/* ==========================
Imports - Must be first!
	========================== */
@use 'fonts';
@use 'ease';
@use 'lenis';
@use 'links';
@use 'vimeo';
@use 'draggable';
@use 'form';
@use 'grid-layout';
@use 'post-wyswyg';

/* ==========================
	Tailwind
	========================== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* Root Variables
*/
:root {
	--size: 390;
	--clamp: 12px;
}

@media (min-width: 650px) {
    :root {
        --size: 1440;
    }
}

/**
* Mixin
*/
@mixin fluid($properties, $value) {
  @each $property in $properties {
    #{$property}: calc(#{$value} * (100vw / var(--size)));
  }
}

/**
* Defaults
*/

html,
body {
	height: auto;
	overscroll-behavior: none;
	width: 100%;
}

html {
	font-size: clamp(1px, calc(10 * (100vw / var(--size))), var(--clamp));
	//@include fluid(font-size, 10);
	//font-kerning: none;
	font-variant-ligatures: common-ligatures;
	@apply subpixel-antialiased antialiased;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
}

body {
	@apply text-14 font-sans font-normal;
	line-height: 2.4rem;
	@apply text-black;
	min-height: 100vh;

	&.admin-bar {
		header {
			top: var(--wp-admin--admin-bar--height);
		}
	}
}

main {
	@apply relative;
	@apply w-full;
}

input {
	outline: none;
	background-color: transparent;
}

textarea {
	outline: none;
	background-color: transparent;
}

.bg-light {
	background-color: #F7F5F2;
}

.app {
	@apply pt-[6.8rem] l:pt-80;
}

.st-hero {
	@apply mt-[-6.8rem] l:-mt-80;
}

/*
body.home {
	.app {
		@apply pt-0;
	}
}
*/

/* ==========================
	Grid
	========================== */

.site-max {
    --padding: 2rem;

    padding-left: var(--padding);
    padding-right: var(--padding);
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	max-width: 144rem;

	.site-max {
		padding-left: 0rem;
		padding-right: 0rem;
	}

	@screen l {
		--padding: 3rem;
	}
}

.site-grid {
    --gap: 0.8rem;
    --cols: 8;

    display: grid;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
    grid-column-gap: var(--gap);

    @screen s {
        --gap: 2.5rem;
        --cols: 16;
    }
}

.site-grid-8 {
    --gap: 0.8rem;
    --cols: 8;

    display: grid;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
    grid-column-gap: var(--gap);

    @screen s {
        --gap: 2.5rem;
        --cols: 8;
    }
}

.site-grid-10 {
    --gap: 0rem;
    --cols: 1;

    display: grid;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
    grid-column-gap: var(--gap);

    @screen s {
        --gap: 2.5rem;
        --cols: 10;
    }
}

/* ==========================
	Menu
	========================== */
.site-menu {
	clip-path: inset(0 0 100% 0);

	&::-webkit-scrollbar { 
		display: none;  /* Safari and Chrome */
	}
}


/* ==========================
	Aspect
	========================== */
.aspect {
	padding-top: var(--aspect);
}

/* ==========================
	Mask
	========================== */
.mask {
	clip-path: inset(100% 0 0 0);
}

/* ==========================
	Img
	========================== */
.img {
	@apply relative;

	img {
		@apply w-full h-full object-cover;
	}
}

/* ==========================
	Grid
	========================== */
.js-template-grid {
	@apply opacity-0;

	&.is-active {
		@apply opacity-10;
	}
}

input {
    @apply font-[300];
}

input::placeholder {
	@apply text-grey-taupe;
}

.js-scrollboost-next {
	@apply opacity-0;
	pointer-events: none;

	&.is-active {
		@apply opacity-100;
		pointer-events: auto;
	}
}

.js-scrollboost-gradient {
	@apply opacity-0;

	&.is-active {
		@apply opacity-100;
	}
}

/**
* Search
*/

header {
	&.is-active {
		.predictive-search-bar {
			max-width: calc(100% - 5.8rem);
		}

		.predictive-search-close {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.predictive-search {
	&-close {
		opacity: 0;
		pointer-events: none;
	}
}
.predictive-search-tag {
	@apply flex items-center gap-x-8 whitespace-nowrap mr-8 px-12 py-[0.70rem] bg-white-smoke block leading-[1.4] rounded-[0.4rem] transition-colors hover:bg-grey-taupe;
}

.js-sop-bar-wrap.is-active {
	width: 75%;
	opacity: 1;
	transition: all 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);

	@screen s {
		height: 8rem;
		opacity: 1;
		transition: all 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
}


body.home {
	.breadcrumbs {
		@apply -translate-y-full;
	}
}

.js-slider-mm-office-progress .js-sop-bar-wrap.is-active {
	@apply h-[2rem];
	opacity: 1;
	transition: all 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.team-members-list > .team-members-item:nth-child(6n+1) .team-member-contact a {
	@apply bg-green text-white-smoke;
}

.team-members-list > .team-members-item:nth-child(6n+2) .team-member-contact a {
	@apply bg-yellow text-black;
}

.team-members-list > .team-members-item:nth-child(6n+3) .team-member-contact a {
	@apply bg-grey text-grey-taupe;
}

.team-members-list > .team-members-item:nth-child(6n+4) .team-member-contact a {
	@apply bg-grey-taupe text-grey;
}

.team-members-list > .team-members-item:nth-child(6n+5) .team-member-contact a {
	@apply bg-yellow text-black;
}

.team-members-list > .team-members-item:nth-child(6n+6) .team-member-contact a {
	@apply bg-green text-white-smoke;
}

.newsroom-gradient {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 80%);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
	
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cols-text-p {
	hr {
		background-color: #DEDAD3;
		opacity: 0.1;
		margin-top: 4rem !important;
	}
}

.js-carousel-testimonials-dots {
	transition: all 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition-delay: 0.3s;

	&.active {
		@apply bg-green w-32;
	}
}

.bg-green-resolved {
	background-color: #6DA479;
}

.bg-lavender {
	background-color: #C292C1;
}

.bg-sky {
	background-color: #CFD8ED;
}

.bg-lemon {
	background-color: #E5F291;
}