/* ==========================
Imports - Must be first!
	========================== */
@use 'fonts';
@use 'lenis';
@use 'links';
@use 'vimeo';
@use 'draggable';
@use 'form';

/* ==========================
	Tailwind
	========================== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* Root Variables
*/
:root {
	--size: 393;
	--clamp: 16px;
}

@screen l {
	:root {
		--size: 1440;
	}
}

@screen 3xl {
	:root {
		--size: 1920;
	}
}

/**
* Mixin
*/
@mixin fluid($properties, $value) {
  @each $property in $properties {
    #{$property}: calc(#{$value} * (100vw / var(--size)));
  }
}

/**
* Defaults
*/

html,
body {
	height: auto;
	overscroll-behavior: none;
	width: 100%;
}

html {
	font-size: clamp(1px, calc(10 * (100vw / var(--size))), var(--clamp));
	//@include fluid(font-size, 10);
	font-kerning: none;
	font-variant-ligatures: common-ligatures;
	@apply subpixel-antialiased antialiased;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

body {
	@apply text-14 font-sans;
	line-height: 2.4rem;
	@apply text-black;
	min-height: 100vh;

	&.admin-bar {
		header {
			top: var(--wp-admin--admin-bar--height);
		}
	}
}

main {
	@apply relative;
	@apply w-full;
}


/* ==========================
	Grid
	========================== */

.site-max {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	.site-max {
		padding-left: 0rem;
		padding-right: 0rem;
	}

	@screen l {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

.site-grid {
    --gap: 0rem;
    --cols: 4;

    display: grid;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
    grid-column-gap: var(--gap);

    @screen s {
        --gap: 2.5rem;
        --cols: 16;
    }
}


/* ==========================
	Aspect
	========================== */
.aspect {
	padding-top: var(--aspect);
}

/* ==========================
	Mask
	========================== */
.mask {
	clip-path: inset(100% 0 0 0);
}

/* ==========================
	Img
	========================== */
.img {
	@apply relative;

	img {
		@apply w-full h-full object-cover;
	}
}

/* ==========================
	Grid
	========================== */
.js-template-grid {
	@apply opacity-0;

	&.is-active {
		@apply opacity-10;
	}
}

input {
    @apply font-[300];
}

input::placeholder {
	@apply text-grey-taupe;
}

.js-scrollboost-next {
	@apply opacity-0;
	pointer-events: none;

	&.is-active {
		@apply opacity-100;
		pointer-events: auto;
	}
}

.js-scrollboost-gradient {
	@apply opacity-0;

	&.is-active {
		@apply opacity-100;
	}
}

/**
* Search
*/

header {
	&.is-active {
		.predictive-search-bar {
			max-width: calc(100% - 5.8rem);
		}

		.predictive-search-close {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.predictive-search {
	&-close {
		opacity: 0;
		pointer-events: none;
	}
}
.predictive-search-tag {
	@apply flex items-center gap-x-8 whitespace-nowrap mr-8 px-12 py-[0.70rem] bg-white-smoke block leading-[1.4] rounded-[0.4rem] transition-colors hover:bg-grey-taupe;
}