/* ==========================
Imports - Must be first!
========================== */
@use 'fonts';

@use 'ease';
@use 'lenis';
@use 'links';
@use 'vimeo';
@use 'draggable';
@use 'form';
@use 'grid-layout';
@use 'post-wyswyg';
@use 'gravity-form';

/* ==========================
	Tailwind
	========================== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* Root Variables
*/
:root {
	--size: 390;
	--clamp: 12px;
}

@media (min-width: 650px) {
	:root {
		--size: 1440;
	}
}

/**
* Mixin
*/
@mixin fluid($properties, $value) {
	@each $property in $properties {
	#{$property}: calc(#{$value} * (100vw / var(--size)));
	}
}

/**
* Defaults
*/

html,
body {
	height: auto;
	overscroll-behavior: none;
	width: 100%;
}

html {
	font-size: clamp(1px, calc(10 * (100vw / var(--size))), var(--clamp));
	//@include fluid(font-size, 10);
	//font-kerning: none;
	font-variant-ligatures: common-ligatures;
	@apply subpixel-antialiased antialiased;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
}

body {
	@apply text-14 font-sans font-normal;
	line-height: 2.4rem;
	@apply text-black;
	min-height: 100vh;

	&.admin-bar {
		header {
			top: var(--wp-admin--admin-bar--height);
		}
	}
}

main {
	@apply relative;
	@apply w-full;
}

input {
	outline: none;
	background-color: transparent;
}

textarea {
	outline: none;
	background-color: transparent;
}

.bg-light {
	background-color: #F7F5F2;
}

.app {
	@apply pt-[6.8rem] s:pt-80;
}

.st-hero {
	@apply mt-[-6.8rem] l:-mt-80;
}

/*
body.home {
	.app {
		@apply pt-0;
	}
}
*/

/* ==========================
	Grid
	========================== */

.site-max {
	--padding: 2rem;

	padding-left: var(--padding);
	padding-right: var(--padding);
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	max-width: 144rem;

	.site-max {
		padding-left: 0rem;
		padding-right: 0rem;
	}

	@screen l {
		--padding: 3rem;
	}
}

.site-grid {
	--gap: 0.8rem;
	--cols: 8;

	display: grid;
	grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
	grid-column-gap: var(--gap);

	@screen s {
		--gap: 2.5rem;
		--cols: 16;
	}
}

.site-grid-8 {
	--gap: 0.8rem;
	--cols: 8;

	display: grid;
	grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
	grid-column-gap: var(--gap);

	@screen s {
		--gap: 2.5rem;
		--cols: 8;
	}
}

.site-grid-10 {
	--gap: 0rem;
	--cols: 1;

	display: grid;
	grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
	grid-column-gap: var(--gap);

	@screen s {
		--gap: 2.5rem;
		--cols: 10;
	}
}

/* ==========================
	Menu
	========================== */
.site-menu {
	clip-path: inset(0 0 100% 0);

	&::-webkit-scrollbar { 
		display: none;  /* Safari and Chrome */
	}
}


/* ==========================
	Aspect
	========================== */
.aspect {
	padding-top: var(--aspect);
}

/* ==========================
	Mask
	========================== */
.mask {
	clip-path: inset(100% 0 0 0);
}

/* ==========================
	Img
	========================== */
.img {
	@apply relative;

	img {
		@apply w-full h-full object-cover;
	}
}

/* ==========================
	Grid
	========================== */
.js-template-grid {
	@apply opacity-0;

	&.is-active {
		@apply opacity-10;
	}
}

input {
	@apply font-[300];
}

input::placeholder {
	@apply text-grey-taupe;
}

.js-search-scroll-viewport::-webkit-scrollbar {
	display: none; /* Webkit browsers */
}

.js-mini-scrollboost-next,
.js-search-scroll-next {
	@apply opacity-0;
	pointer-events: none;

	&.is-active {
		@apply opacity-100;
		pointer-events: auto;
	}
}

.js-search-scroll-gradient,
.js-mini-scrollboost-gradient {
	@apply opacity-0;

	&.is-active {
		@apply opacity-100;
	}
}

.js-search-section {
	&.is-triggered {
		.js-search-section__wrapper {
			overflow: inherit;
		}
	}
}
.mini-search-section {
	&.is-active {
		.mini-search-section__wrapper {
			overflow: inherit;
		}
	}
}

/**
* Search
*/

header {
	//clip-path: inset(0rem 0rem calc(100% - 8.1rem) 0rem);
	//transition: clip-path 0.4s;

	.js-search-tags {
		opacity: 0.5;
		transition: opacity 0.4s;
	}

	&.is-active {
		//height: 100vh;
		//overflow-y: scroll;
		//clip-path: inset(0 0 0 0);

		//height: 100vh;
		//overflow-y: scroll;

		.js-search-tags {
			opacity: 1;
		}

		.js-search-bar {
			max-width: calc(100% - 5.8rem);
		}

		.js-search-close {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.js-search {
	&-close {
		opacity: 0;
		pointer-events: none;
	}

	&-tag {
		@apply flex items-center gap-x-8 whitespace-nowrap mr-8 px-12 py-[0.7rem] bg-white-smoke block leading-[1.4] rounded-[0.4rem] transition-colors hover:bg-grey-taupe;
	}
}

.search-tag {
	@apply flex items-center gap-x-8 whitespace-nowrap mr-8 px-12 py-[0.7rem] bg-white-smoke block leading-[1.4] rounded-[0.4rem] transition-colors hover:bg-grey-taupe;
}



body.search-results {
	header {
		height: auto;
		overflow: hidden;
	}
}

body.search-empty,
body.search:not(.search-no-results) {
	header {
		height: auto;
		overflow: auto;
	}

	.js-search-results-wrapper {
		display: none;
	}
}

.js-search-mini-section {
	&.is-scrolling {
		.js-search-scroll-viewport,
		.js-search-mini-section__wrapper {
			overflow: visible;
		}
	}
}

.js-search-results-wrapper {
	@apply absolute w-full;
	clip-path: inset(0 0 100% 0);
	transition: clip-path 0.4s;
	margin-top: -1px;
	top: 100%;
	overflow-y: scroll;
	height: calc(100vh + -12rem);

	.is-active & {
		clip-path: inset(0 0 0 0);
	}
}

.js-sop-bar-wrap.is-active {
	width: 75%;
	opacity: 1;
	transition: all 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);

	@screen s {
		height: 8rem;
		opacity: 1;
		transition: all 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
}


body.home {
	.breadcrumbs {
		@apply -translate-y-full;
	}
}

.js-slider-mm-office-progress .js-sop-bar-wrap.is-active {
	@apply h-[2rem];
	opacity: 1;
	transition: all 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.team-members-list > .team-members-item:nth-child(6n+1) .team-member-contact a {
	@apply bg-green text-white-smoke;
}

.team-members-list > .team-members-item:nth-child(6n+2) .team-member-contact a {
	@apply bg-yellow text-black;
}

.team-members-list > .team-members-item:nth-child(6n+3) .team-member-contact a {
	@apply bg-grey text-grey-taupe;
}

.team-members-list > .team-members-item:nth-child(6n+4) .team-member-contact a {
	@apply bg-grey-taupe text-grey;
}

.team-members-list > .team-members-item:nth-child(6n+5) .team-member-contact a {
	@apply bg-yellow text-black;
}

.team-members-list > .team-members-item:nth-child(6n+6) .team-member-contact a {
	@apply bg-green text-white-smoke;
}

.newsroom-gradient {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 80%);
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
	
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.cols-text-p {
	hr {
		background-color: #DEDAD3;
		opacity: 0.1;
		margin-top: 4rem !important;
	}
}

.js-carousel-testimonials-dots {
	transition: all 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition-delay: 0.3s;

	&.active {
		@apply bg-green w-32;
	}
}

.bg-green-resolved {
	background-color: #6DA479;
}

.bg-lavender {
	background-color: #C292C1;
}

.bg-sky {
	background-color: #CFD8ED;
}

.bg-lemon {
	background-color: #E5F291;
}

/**
* Filter List
*/
button[data-filter-status="active"] {
	@apply bg-white-smoke;
}

.filter-list__item[data-filter-status="active"] {
	transition: opacity 0.6s cubic-bezier(0.625, 0.05, 0, 1), transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
	opacity: 1;
	visibility: visible;
	position: relative;
}

.filter-list__item[data-filter-status="transition-out"] {
	transition: opacity 0.45s cubic-bezier(0.625, 0.05, 0, 1), transform 0.45s cubic-bezier(0.625, 0.05, 0, 1);
	opacity: 0;
	visibility: visible;
}

.filter-list__item[data-filter-status="not-active"] {
	opacity: 0;
	visibility: hidden; 
	position: absolute;
}

.book-a-call {
	clip-path: inset(0 0 100% 0);
	transition: clip-path 0.4s;

	&.is-active {
		clip-path: inset(0 0 0 0);
	}
}

[data-step][data-step-status="active"] {
	transition: opacity 0.6s cubic-bezier(0.625, 0.05, 0, 1), transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
	opacity: 1;
	visibility: visible;
	position: relative;

	@screen s {
		transform: scale(1) rotate(0.001deg);
	}
}

[data-step][data-step-status="transition-out"] {
	transition: opacity 0.45s cubic-bezier(0.625, 0.05, 0, 1), transform 0.45s cubic-bezier(0.625, 0.05, 0, 1);
	opacity: 0;
	visibility: visible;

	@screen s {
		transform: scale(0.95) rotate(0.001deg);
	}
}

[data-step][data-step-status="not-active"] {
	opacity: 0;
	visibility: hidden;
	position: absolute;

	@screen s {
		transform: scale(0.95) rotate(0.001deg);
	}
}

.remove-br p br {
	display: none;
}

.accordion-css__item-bottom {
	transition: grid-template-rows 0.6s cubic-bezier(0.625, 0.05, 0, 1);
	grid-template-rows: 0fr;
	display: grid;
	position: relative;
	overflow: hidden;
}

.accordion-css__item-bottom-wrap {
	flex-flow: column;
	height: 100000%;
	display: flex;
	position: relative;
	overflow: hidden;

	@screen s {
		overflow: initial;
	}
}

.plus-icon {
	transition: transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

[data-accordion-status="active"] .plus-icon {
	transform: rotate(45deg);
}

[data-accordion-status="active"] .accordion-css__item-bottom {
	grid-template-rows: 1fr;
}

.tc-1 {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tc-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tc-3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tc-4 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder { /* Firefox 18- */
	color: transparent;
}

input:focus::-moz-placeholder { /* Firefox 19+ */
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

/* Modern browsers */
input:focus::placeholder {
	color: transparent;
}

.js-mobile-bottom-search {
	transform: translateY(4.5rem);
	transition: transform 0.3s;

	.js-search-submit {
		transform: translateX(100%);
		transition: transform 0.3s;
	}

	.js-search-clear {
		transform: translateX(80%) translateY(-50%);
		transition: transform 0.3s;
	}

	.mobile-search-open &  {
		transform: none;

		.js-search-submit {
			transform: none;
		}

		.js-search-clear {
			transform: translateX(0%) translateY(-50%);
		}
	}
}