<section class="relative bg-white-smoke">
    {# <pre>{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="site-max py-120">
        <div class="site-grid">
            <div class="col-span-6 col-start-1 pb-48">
                <div class="relative">
                    <h3 class="text-green text-40 font-medium leading-[1.16] tracking-[-0.04em]">Executives & Professionals</h3>
                </div>
            </div>

            <div class="col-span-full">
                <div class="site-grid">
                    <article class="relative w-full col-span-8">
                        <a href="#0" class="relative block">

                            <figure class="relative overflow-hidden w-full">
                                <div class="pt-[68.63%]"></div>
                                <img
                                    class="h-full w-full object-cover inset-0 absolute top-0 left-0 select-none pointer-events-none"
                                    src="https://placehold.co/600x400"
                                    alt=""
                                />
                            </figure>
                            
                            <div class="absolute bottom-0 left-0 p-24 flex flex-col items-start justify-between w-full h-full z-2">
                                
                                <h5 class="text-black text-12 font-medium leading-none tracking-[0.12rem] uppercase">ISSUE</h5>

                                <div class="flex items-end justify-between w-full">
                                    <div class="relative max-w-[70%]">
                                        <h3 class="text-black text-32 font-normal leading-[1.24] tracking-[-0.032rem]">Employment Contracts & Separation Agreements</h3>
                                    </div>

                                    <div class="relative">
                                        <span class="text-12 font-medium leading-none tracking-[0.12rem] uppercase">see more</span>
                                        <span class="inline-flex">
                                            <svg class="w-6 h-10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 0.999999L4.5 4.5L1 8" stroke="currentColor" stroke-width="1.01111" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>

                    <article class="relative w-full col-span-8">
                        <a href="#0" class="relative block">
                            <figure class="relative overflow-hidden bg-yellow w-full">
                                <div class="pt-[68.63%]"></div>
                            </figure>

                            <div class="absolute bottom-0 left-0 p-24 flex flex-col items-start justify-between w-full h-full">
                                
                                <h5 class="text-black text-12 font-medium leading-none tracking-[0.12rem] uppercase">ISSUE</h5>

                                <div class="flex items-end justify-between w-full">
                                    <div class="relative max-w-[70%]">
                                        <h3 class="text-black text-32 font-normal leading-[1.24] tracking-[-0.032rem]">Employment Contracts & Separation Agreements</h3>
                                    </div>

                                    <div class="relative">
                                        
                                            <span class="text-12 font-medium leading-none tracking-[0.12rem] uppercase">see more</span>
                                            <span class="inline-flex">
                                                <svg class="w-6 h-10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 0.999999L4.5 4.5L1 8" stroke="currentColor" stroke-width="1.01111" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </span>
                                        
                                    </div>
                                </div>
                            </div>

                        </a>
                    </article>

                </div>
            </div>
        </div>
    </div>
</section>