<section class="relative bg-white">
    {# <pre>{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}
    <div class="site-max pt-[25rem] pb-135">
        <div class="site-grid">
            <div class="flex flex-col items-center justify-center col-span-6 col-start-6 space-y-40 pb-95">
                <div class="relative">
                    <span class="text-grey text-center text-12 font-medium leading-none tracking-[0.012rem] uppercase">
                        {{ item.subtitle }}
                    </span>
                </div>

                <div class="relative">
                    <h2 class="text-green text-center text-120 font-normal leading-none tracking-[-0.024rem]">
                        {{ item.title }}
                    </h2>
                </div>
                    
                <div class="relative max-w-[40rem]">
                    <p class="text-green text-center text-16 font-normal leading-[1.32]">
                        {{ item.description }}
                    </p>
                </div>
            </div> 

            <div class="col-span-full col-start-1">
                <div class="relative">
                    {% include "blocks/common/image.twig" with {
                        props : {
                            data: {
                                image : item.image
                            },
                            options: {
                                container_class: 'w-full h-full overflow-hidden',
                                class : 'w-full h-full object-cover',
                                aspect_ratio: '58%',
                            }
                        }
                    } %}
                </div>
            </div>
        </div>
    </div>
</section>