{% set hero = props.hero %}

<section class="relative mt-32 s:mt-0 bg-white relative overflow-hidden h-full s:h-[calc(100svh-10rem)]">

    {# <pre>{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="site-max site-grid h-full bg-white s:bg-transparent relative z-1">
        <div class="relative s:-mt-32 h-full flex flex-col items-center s:items-start justify-center s:justify-end col-span-full s:col-span-5 s:col-start-1 space-y-[3.2rem] s:space-y-40 pb-65 s:pb-32">
            {% if hero.subtitle %}
                <p class="text-center s:text-left text-grey text-12 font-medium leading-none tracking-[0.012rem] uppercase">
                    {{ hero.subtitle }}
                </p>
            {% endif %}
        
            {% if hero.title %}
                <h2 class="text-center s:text-left text-green text-72 s:text-120 font-normal leading-none tracking-[-0.024rem]">
                    {{ hero.title }}
                </h2>
            {% endif %}

            {% if hero.description %}
                <div class="relative max-w-[40rem]">
                    <div class="text-center s:text-left text-green text-16 font-normal leading-[1.32]">
                        {{ hero.description }}
                    </div>
                </div>
            {% endif %}
        </div> 
    </div>

    <div class="relative s:absolute s:top-[-2rem] left-0 w-full h-full overflow-hidden mt-[-10rem] s:mt-0" data-parallax-scroll-start="top bottom" data-parallax="trigger"  data-parallax-start="0" data-parallax-end="40">
        {% if hero.image %}
            
                <div class="relative h-[65rem] w-full s:w-1/2 right-0 relative s:absolute s:h-full overflow-hidden"> 
                    {% include "blocks/common/image.twig" with {
                        props : {
                            data: {
                                image : hero.image
                            },
                            options: {
                                container_class: 'w-full h-full overflow-hidden',
                                class : 'w-full h-full object-cover',
                                size: 'hero',
                                aspect_ratio: '111%',
                            }
                        }
                    } %}
                </div>
            
        {% endif %}
    </div>
</section>