<section class="relative bg-white">
    {# <pre>{{ post.feature_content|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}
    
    <div class="relative space-y-[8rem] s:space-y-[24rem] pt-80 s:pt-120" data-component="stickyAside(js-aside-sticky)">
        {# My Story, Legal Practice, Values, Credentials, Notable Cases and Form #}
        <div class="site-max site-grid js-aside-sticky">
            {% include 'pages/team/partials/single/content/_legal-practice.twig' with {
                props: {
                    post: post
                }
            } %}

            <div class="relative s:col-start-10 col-span-full s:col-span-7 space-y-[8rem] s:space-y-32 js-main-sticky">
                {% include 'pages/team/partials/single/content/_my-story.twig' with {
                    props: {
                        post: post
                    }
                } %}
                
                {% include 'pages/team/partials/single/content/_values.twig' with {
                    props: {
                        post: post
                    }
                } %}

                {% include 'pages/team/partials/single/content/_credentials.twig' with {
                    props: {
                        post: post
                    }
                } %}

                {% include 'pages/team/partials/single/content/_notable-cases.twig' with {
                    props: {
                        post: post
                    }
                } %}

                {% include 'pages/team/partials/single/content/_form.twig' with {
                    props: {
                        post: post
                    }
                } %}
            </div>
        </div>
    </div>
</section>