{% extends '_layout.twig' %}

{% block content %}
	<article data-taxi-view class="page-newsroom">
		<div class="app">
		    {% include 'partials/breadcrumb.twig' %}
		
			{% for item in content_builder %}
				{{ include('blocks/builder/' ~ item.acf_fc_layout ~ '.twig', {
					item: item
				}, ignore_missing = true) }}
			{% endfor %}	
		</div>

		{% include '_site-footer.twig' %}
	</article>
{% endblock %}