{% set unique_categories = [] %}
{% for item in client_stories %}
    {% if item.categories %}
        {% for category in item.categories %}
            {% if category.name not in unique_categories %}
                {% set unique_categories = unique_categories|merge([category.name]) %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<section class="pt-80 s:pt-160">
    <div class="relative">
        <div class="relative">
            <div class="site-max pb-32 s:pb-50">
                <h3 class="text-32 s:text-40 text-green font-normal leading-[1.32]">All Clients Stories</h3>
            </div>

            <div class="site-max site-grid items-start gap-y-20 grid-layout js-list-grid">
                {% for item in issues %}
                    {% set image = item.fields.feature_content.feature_image %}
                    {% set bg = item.fields.feature_content.background_color %}
                    {% set description = item.fields.feature_content.description %}

                    <div class="column w-full relative group overflow-hidden">
                        <a href="{{ item.link }}" data-transition="child" class="column-inner overflow-hidden block w-full relative {{ bg ? 'bg-' ~ bg|lower }} {{ bg|lower == 'green' or image ? 'text-white' : 'text-green' }}">
                            {% if image %}
                                {% include "blocks/common/image.twig" with {
                                    props : {
                                        data: {
                                            image : image
                                        },
                                        options: {
                                            container_class: 'column-image w-full overflow-hidden',
                                            class : 'w-full h-full object-cover group-hover:scale-105 transition-all duration-[1s]',
                                            size: 'large',
                                            aspect_ratio: '0%',
                                        }
                                    }
                                } %}
                            {% endif %}

                            <div class="column-category absolute top-0 left-0 w-full p-16 l:p-24">
                                <span class="text-12 font-medium leading-none tracking-[0.12rem] uppercase">Issue</span>
                            </div>

                            <div class="column-title absolute z-1 bottom-0 left-0 w-full p-16 l:p-24 leading-none flex justify-between items-end">
                                <p class="column-title text-24 s:text-32 font-normal leading-[1.04] tracking-[-0.032rem] max-w-[25rem] s:max-w-[31rem]">{{ item.title }}</p>
                                <p class="column-link text-12 font-medium leading-none tracking-[0.12rem] uppercase flex gap-x-5 items-center whitespace-nowrap">
                                    <span class="column-link-text hidden">
                                        See more
                                    </span>
                                    <span class="inline-flex">
                                        <svg class="w-6 h-10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 0.999999L4.5 4.5L1 8" stroke="currentColor" stroke-width="1.01111" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </span>
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>