<div class="taxi-modal-container taxi-content-modal fixed inset-0 z-50 bg-black/50 opacity-0 pointer-events-none">
    <div class="taxi-modal-content">
        <div class="taxi-modal-close">
            <button class="taxi-modal-close-button">
                <span class="taxi-modal-close-icon"></span>
            </button>
        </div>
    </div>
</div>

{{ function('wp_footer') }}

</body>
</html>