{% include '_header.twig' %}
{% include '_site-header.twig' %}
{% include '_site-menu.twig' %}

<div class="relative" class="hidden hover:bg-yellow hover:bg-grey hover:bg-black hover:bg-white-smoke group-hover:bg-grey group-hover:bg-grey-taupe group-hover:bg-white group-hover:bg-black group-hover:bg-light group-hover:bg-white-smoke group-hover:bg-yellow group-hover:bg-green hover:text-green hover:text-grey hover:text-black"></div>

<main id="main" class="relative overflow-clip z-1" role="main" itemscope itemprop="mainContentOfPage" data-taxi>
	{% block content %}{% endblock %}
</main>

	{# Transition mask #}
	<div class="fixed inset-0 bg-white z-[99] pointer-events-none opacity-0 js-transition-mask"></div>

	{# Overlay mask #}
	<div class="fixed inset-0 bg-black z-[99] pointer-events-none opacity-0 js-overlay-mask"></div>

	{% include './_site_grid.twig' %}

	{% include './partials/mobile-search.twig' with { class: 'js-mobile-bottom-search' } %}
	

{% include '_footer.twig' %}

