{% include '_header.twig' %}

<main id="main" class="relative z-1" role="main" itemscope itemprop="mainContentOfPage" data-taxi>
	{% block content %}{% endblock %}
</main>

{% include '_footer.twig' %}

