<div class="fixed inset-0 pointer-events-none flex z-[9999]">
    <div class="site-max">
        <div class="relative site-grid w-full h-full">
            {% for i in 0..15 %}
                <div class="col-span-1 bg-black/25"></div>
            {% endfor %}
        </div>
    </div>
</div>