{% extends '_layout.twig' %}

{% block content %}
	<article data-taxi-view>
		<div class="app" data-taxi-namespace="{{ taxi_namespace }}-{{ post.post_name }}">
			{% if not is_home %}
				{% include 'partials/breadcrumb.twig' %}
			{% endif %}
			
			{% include 'blocks/builder/index.twig' with {
				props: {
					data: {
						items: content_builder
					}
				}
			} %}
		</div>

		{% include '_site-footer.twig' %}
	</article>
{% endblock %}