<section class="relative bg-white">
    {# <pre>{{ post.feature_content|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="site-max pt-60 s:pt-80 pb-60">
        <div class="site-grid">
            <div class="relative order-1 s:order-2 s:col-start-6 col-span-full s:col-span-8">
                <div class="client-stories-wyswyg">{{ post.content_post.description }}</div>
            </div>

            {% if not post.author_settings.hide %}
                {% include 'pages/newsroom/partials/single/_author.twig' %}
            {% endif %}
        </div>
    </div>
</section>