<section class="relative bg-white">
    {# <pre>{{ post.feature_content|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="site-max pt-60 s:pt-120 pb-60">
        <div class="site-grid">
            <div class="relative col-start-5 col-span-8">
                <div class="client-stories-wyswyg">{{ post.content_post.description }}</div>
            </div>
        </div>
    </div>
</section>