{% if post.content_post.description_post %}
    <div class="relative col-start-1 col-span-8">
        <div class="relative">
            <div class="cases-and-investigations-wyswyg">{{ post.content_post.description_post }}</div>
        </div>
    </div>
{% endif %}