{% if post.content_post.form_card.hide == false %}
    <div class="relative w-full">
        <div class="relative w-full flex flex-col items-start space-y-32 bg-white-smoke p-32">
            <div class="relative w-full space-y-32">
                <div class="relative flex w-full items-start">
                    <div class="relative space-y-[2.4rem]">
                        <h2 class="text-black font-normal text-40 leading-[1.15] tracking-[-1%]">{{ post.content_post.form_card.title }}</h2>
                    </div>
                </div>
            </div>

            {% if post.content_post.form_card.contact_form_id %}
                <div class="relative w-full flex flex-col items-start pt-15">
                    {{ function('do_shortcode', '[gravityform id="'~ post.content_post.form_card.contact_form_id ~'" title="false" description="false" ajax="true"]') }}
                </div>
            {% endif %}

        </div>
    </div>
{% endif %}