{% if post.content_post.framing_the_issue %}
    <div class="relative flex items-start justify-between bg-white-smoke p-32">
        <div class="relative space-y-40">
            <div class="relative">
                <h2 class="text-black font-normal text-40 leading-[1.15] tracking-[-1%]">Framing the <em class="font-disp font-normal italic">Issue</em></h2>
            </div>

            <div class="credentials-wyswyg">{{ post.content_post.framing_the_issue }}</div>
        </div>
    </div>
{% endif %}