{% extends '_layout.twig' %}

{% block content %}
	<article data-taxi-view class="page-team">
		<div class="app">
		
			<div class="relative h-screen h-[100dvh]">
				<div class="relative site-max h-full w-full bg-green flex items-center justify-center py-195">

					<div class="relative site-grid flex flex-col items-center justify-center space-y-40">

						<div class="relative col-start-8 col-span-2 flex items-center justify-center">
							<h3 class="text-center text-white-smoke text-12 font-normal uppercase">Issue</h3>
						</div>

						<div class="relative col-start-4 col-span-10 flex items-center justify-center">
							<h1 class="text-center text-white-smoke text-96 font-normal leading-[1.10] tracking-[-0.02rem]">Corporate speech Suppression</h1>
						</div>

						<div class="relative col-start-6 col-span-6 flex items-center justify-center">
							<p class="text-center text-white-smoke text-16 font-normal">
							California employers frequently enact policies that limit or suppress their employees' right to speak freely about their work experience. As the country's largest law firm exclusively focused on helping employees, we advise people from all walks of life on these speech restriction policies.
							</p>
						</div>

					</div>
				</div>
			</div>



			{# Hero #}
			{% include 'pages/team/partials/_hero.twig' with {
				props: {
					hero: hero
				}
			} %}

			{# Team Members #}
			{% include 'pages/team/partials/_members.twig' with {
				props: {
					team_members: team_members
				}
			} %}

			{# Content Builder #}
			{% include 'blocks/builder/index.twig' with {
				props: {
					data: {
						items: content_builder
					}
				}
			} %}
		</div>

		{% include '_site-footer.twig' %}
	</article>
{% endblock %}