{% extends '_layout.twig' %}

{% block content %}
	<article data-taxi-view class="page-team">
		<div class="app">
			{% include 'partials/breadcrumb.twig' %}
			
			{# Hero #}
			{% include 'pages/team/partials/_hero.twig' with {
				props: {
					hero: hero
				}
			} %}

			{# Team Members #}
			{% include 'pages/team/partials/_members.twig' with {
				props: {
					team_members: team_members
				}
			} %}

			{# Content Builder #}
			{% include 'blocks/builder/index.twig' with {
				props: {
					data: {
						items: content_builder
					}
				}
			} %}
		</div>

		{% include '_site-footer.twig' %}
	</article>
{% endblock %}