
{% for category in search_related %}
    <div class="relative">
        <p class="text-40 mb-50 leading-none tracking-[0.-2em] text-green">{{ category.search_category_title }}</p>
        <div class="site-grid items-start gap-y-20 grid-layout">
            {% for post_group in category.search_category_posts %}
                {% for post in post_group.search_category_post %}
                    {% include './partials/search-item.twig' with { post: post } %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endfor %}

<hr class="border-grey-taupe mt-60 mb-30">

{% if latest_cases %}
    <p class="text-40 mb-50 leading-none tracking-[0.-2em] text-green">Latest Cases & Investigations</p>
    <div class="grid grid-cols-3 gap-x-25 items-start gap-y-65">
        {% for post in latest_cases %}
            {% include './partials/search-case.twig' with { post: post } %}
        {% endfor %}
    </div>
{% endif %}

<hr class="border-grey-taupe mt-60 mb-30">

{% if latest_posts %}
    <p class="text-40 mb-50 leading-none tracking-[0.-2em] text-green">Latest Posts</p>
    <div class="site-grid items-start gap-y-20 grid-layout">
        {% for post in latest_posts %}
            {% include './partials/search-item.twig' with { post: post } %}
        {% endfor %}
    </div>
{% endif %}