{% set hero = props.hero %}

<section class="relative">
    <div class="site-max pt-65 s:pt-135 pb-32 s:pb-160">
        <div class="site-grid">
            <div class="s:col-start-3 col-span-full s:col-span-12 pb-32 s:pb-95">
                <div class="relative w-full flex flex-col items-center justify-center space-y-32 s:space-y-40">
                    {% if hero.subtitle %}
                        <p class="text-center s:text-left text-grey text-12 font-medium leading-none tracking-[0.012rem] uppercase">
                            {{ hero.subtitle }}
                        </p>
                    {% endif %}
                    
                    {% if hero.title %}
                        <h2 class="text-green text-center text-56 s:text-[12.0rem] font-normal leading-[0.88] tracking-[-0.24rem]">
                            {{ hero.title }}
                        </h2>
                    {% endif %}
                    
                    {% if hero.description %}
                        <div class="remove-br s:max-w-[40rem] text-green text-center text-16 font-normal leading-[1.32] px-12 s:px-0">
                            {{ hero.description }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-start-1 col-span-full overflow-hidden">
                <figure class="relative overflow-hidden w-full h-[120%] pointer-events-none select-none" data-parallax-scroll-start="top bottom"  data-parallax="trigger"  data-parallax-start="-30" data-parallax-end="0">
                    {% include "blocks/common/image.twig" with {
                        props : {
                            data: {
                                image : hero.image
                            },
                            options: {
                                container_class: 'w-full h-full overflow-hidden pointer-events-none select-none',
                                class : 'w-full h-full object-cover pointer-events-none select-none',
                                aspect_ratio: '52.95%',
                                aspect_ratio_mobile: '150%',
                            }
                        }
                    } %}
                </figure>
            </div>
        </div>
    </div>
</section>