<section class="relative bg-white">
    {# <pre>{{ post.feature_content|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}
    
    <div class="relative space-y-[12rem] s:space-y-[24rem] pt-80 s:pt-120">
        {# Post Content, Framing the issue, Media Coverage and Form #}
        <div class="site-max site-grid pb-0 s:pb-70">
            {# Post Content #}
            {% include 'pages/cases-and-investigations/partials/single/content/_content.twig' %}

            <div class="relative s:col-start-10 col-span-full s:col-span-7 space-y-[8rem] s:space-y-[3.2rem] pt-80 s:pt-0">
                {# Framing the issue #}
                {% include 'pages/cases-and-investigations/partials/single/content/_framing-the-issue.twig' %}

                {# Form #}
                {% include 'pages/cases-and-investigations/partials/single/content/_form.twig' %}
                
                {# Media Coverage #}
                {% include 'pages/cases-and-investigations/partials/single/content/_media-coverage.twig' %}
            </div>
        </div>
    </div>
</section>