{% if post.feature_content.credentials %}
    <div class="relative">
        <div class="relative flex items-start justify-between bg-white-smoke p-32">
            <div class="relative space-y-40">
                <div class="relative">
                    <h2 class="text-black font-normal text-40 leading-[1.15] tracking-[-0.02em]">Credentials</h2>
                </div>

                <div class="credentials-wyswyg">{{ post.feature_content.credentials }}</div>
            </div>
        </div>
    </div>
{% endif %}