{% if post.feature_content.contact_form.hide == false %}
    <div class="relative w-full">
        <div class="relative w-full flex flex-col items-start space-y-32 bg-white-smoke p-32">
            <div class="relative w-full space-y-32">
                <div class="relative flex w-full items-start justify-between">
                    <div class="relative">
                        <div class="relative space-y-[2.4rem]">
                            <p class="text-grey text-12 font-medium leading-none tracking-[0.12rem] uppercase">Contact {{ post.feature_content.first_name }}</p>
                            <h2 class="text-black font-normal text-32 s:text-40 leading-[1.15] tracking-[-1%]">Need legal <em class="font-disp font-normal italic">advice</em>?</h2>
                        </div>
                    </div>

                    {% if post.feature_media.image %}
                        <div class="relative shrink-0 w-[9.9rem] h-[11.1rem]">
                            <figure class="relative w-full h-full">
                                {% include "blocks/common/image.twig" with {
                                    props : {
                                        data: {
                                            image : post.feature_media.image
                                        },
                                        options: {
                                            container_class: 'w-full h-full overflow-hidden',
                                            class : 'w-full h-full object-cover',
                                        }
                                    }
                                } %}
                            </figure>
                        </div>
                    {% endif %}
                </div>

                <div class="relative w-full gap-2 s:gap-0 flex flex-wrap s:flex-auto items-start s:items-center s:justify-between">
                    {% include "pages/team/partials/single/_contact-info.twig" %}
                </div>
            </div>

            {% if post.feature_content.contact_form.areas_of_expertise %}
                <div class="relative w-full flex flex-col s:flex-row items-start justify-between border-t border-solid border-grey-taupe pt-32">
                    <div class="relative pb-32 s:pb-0">
                        <p class="text-20 font-normal leading-[1.24] tracking-[-2%] font-disp"><em class="font-normal italic">Areas</em> of expertise:</p>
                    </div>

                    <div class="relative pl-12 s:pl-0">
                        <ul class="relative flex flex-col items-start space-y-10">
                            {% for item in post.feature_content.contact_form.areas_of_expertise %}
                                <li class="relative list-disc">
                                    <p class="font-sans font-medium text-16 leading-[1.32]">{{ item.text }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if post.feature_content.contact_form.contact_form_id %}
                <div class="relative w-full flex flex-col items-start border-t border-solid border-grey-taupe pt-32">
                    <div class="relative pb-50">
                        <p class="text-20 font-normal leading-[1.24] tracking-[-2%] font-disp">Have a <em class="font-normal italic">question</em> or need <em class="font-normal italic">legal advice</em>?</p>
                    </div>

                    {% if post.feature_content.contact_form.contact_form_id %}
                        {{ function('do_shortcode', '[gravityform id="'~ post.feature_content.contact_form.contact_form_id ~'" title="false" description="false" ajax="true"]') }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}