{% if post.feature_content.my_story %}
    <div class="relative col-start-1 col-span-8">
        <div class="sticky top-0 js-aside-sticky-content">
            <h2 class="text-black font-sans font-normal text-40 leading-[1.15] tracking-[-1%]">My Legal Practice</h2>
            <div class="post-wyswyg">{{ post.feature_content.legal_practice }}</div>
        </div>
    </div>
{% endif %}