<div class="relative s:col-start-1 col-span-full s:col-span-8">
    <div class="relative pb-80 s:pb-0 s:sticky s:top-0 js-aside-sticky-content">
        {% for item in post.post_content %}
            <div class="relative mb-80">
                {% if item.title %}
                    <h2 class="text-black font-sans font-normal text-40 leading-[1.15] mb-40 tracking-[-0.01em]">{{ item.title }}</h2>
                {% endif %}

                {% if item.intro %}
                    <div class="text-20 text-green leading-[1.24] mb-[2.5rem] tracking-[-0.01em] border-b border-solid border-grey-taupe pb-[6.4rem]">{{ item.intro }}</div>
                {% endif %}
                {% if item.description %}
                    <div class="post-wyswyg">{{ item.description }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
