{% if post.feature_content.my_story %}
    <div class="relative col-start-10 col-span-7">
        <div class="relative flex items-start justify-between bg-white-smoke p-32">
            <div class="relative space-y-[24rem]">
                <div class="relative">
                    <h2 class="text-black italic font-normal text-40 leading-[1.15] tracking-[-1%]">My Story</h2>
                </div>

                <div class="values-wyswyg">{{ post.feature_content.my_story }}</div>
            </div>
        </div>
    </div>
{% endif %}