{% if post.feature_content.my_story %}
    <div class="relative col-start-1 col-span-8">
        <div class="relative">
            <h2 class="text-black font-sans font-normal text-40 leading-[1.15] tracking-[-1%]">My Story</h2>
            <div class="post-wyswyg">{{ post.feature_content.my_story }}</div>
        </div>
    </div>
{% endif %}